<a href="https://colab.research.google.com/github/abhivishwakarma98/shapeai_/blob/main/Abhishek_Vishwakarma.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np
import sklearn

In [ ]:
from sklearn.datasets import load_boston
df = load_boston()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [ ]:
boston = pd.DataFrame(df.data, columns=df.feature_names)
boston.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [ ]:
boston['ABHI'] = df.target
boston.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  PTRATIO       B  LSTAT  MEDV  ABHI
0  0.00632  18.0   2.31   0.0  0.538  ...     15.3  396.90   4.98  24.0  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...     17.8  396.90   9.14  21.6  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...     17.8  392.83   4.03  34.7  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...     18.7  394.63   2.94  33.4  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...     18.7  396.90   5.33  36.2  36.2

[5 rows x 15 columns]

In [ ]:
 from sklearn.model_selection import train_test_split
X = boston.drop('ABHI', axis=1)
Y = boston['ABHI']
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.15, random_state = 1)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(430, 14)
(76, 14)
(430,)
(76,)

In [ ]:
 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [ ]:
lin_model = LinearRegression()
 
lin_model.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_train_predict = lin_model.predict(X_train)
RMSE = (np.sqrt(mean_squared_error(Y_train, y_train_predict)))
 
print("The model performance for training set")
print('RMSE is {}'.format(RMSE))
print("\n")
 
y_test_predict = lin_model.predict(X_test) 
RMSE = (np.sqrt(mean_squared_error(Y_test, y_test_predict)))
 
print("The model performance for testing set")
print('RMSE is {}'.format(RMSE))

The model performance for training set
RMSE is 1.9180551052326938e-14


The model performance for testing set
RMSE is 1.984144930947073e-14